<div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 4px">
  <img
    src="{{url_for('static', filename=rec['image'])}}"
    alt="{{rec['title']}}"
    width="100%"
    height="300px"
    object-fit="cover"
  />
  <h4 style="color: rgb(15, 15, 15); margin-bottom: 4px">{{rec['title']}}</h4>
  <div><b>Cuisine:</b> {{rec['cuisine']}}</div>
  {% if 'calories' in rec %}
  <div><b>Calories:</b> {{rec['calories']}}</div>
  {% endif %}
  <button type="button" class="btn btn-outline-primary">View</button>
</div>
